<div class="header">-</div><div class="row">
<div class="col-md-6">
<h3>Day 1</h3>
<table class="table table-striped">
<tr><th>Start</th><th>Duration (minutes)</th><th>End</th><th>Episode</th></tr>
<tr>
	<td>09:00</td><td></td><td>09:00</td><td><a href="{{ site.pre_survey }}{{ site.github.project_title }} target=_blank rel=noopener noreferrer">Pre-workshop Survey</a></td>
</tr>
<tr>
	<td>09:00</td><td>10</td><td>09:10</td><td><a href="{{ site.index }}">Introduction</a></td>
</tr>
<tr>
	<td>09:10</td><td>35</td><td>09:45</td><td><a href="https://newcastlerse-training.github.io/hpc-intro-comet/10-hpc-intro.html">Why use a Cluster?</a></td>
</tr>
<tr>
	<td>09:45</td><td>45</td><td>10:30</td><td><a href="https://newcastlerse-training.github.io/hpc-intro-comet/12-cluster.html">Working on a remote HPC system</a></td>
</tr>
<tr>
	<td>10:30</td><td>15</td><td>10:45</td><td><a href="{{ site.index }}">BREAK</a></td>
</tr>
<tr>
	<td>10:45</td><td>45</td><td>11:30</td><td><a href="https://newcastlerse-training.github.io/hpc-intro-comet/15-modules.html">Scheduler Fundamentals</a></td>
</tr>
<tr>
	<td>11:30</td><td>15</td><td>11:45</td><td><a href="https://newcastlerse-training.github.io/hpc-intro-comet/14-environment-variables.html">Environment Variables</a></td>
</tr>
<tr>
	<td>11:45</td><td>45</td><td>12:30</td><td><a href="https://newcastlerse-training.github.io/hpc-intro-comet/15-modules.html">Accessing software via Modules</a></td>
</tr>
<tr>
	<td>12:30</td><td>60</td><td>13:30</td><td><a href="{{ site.index }}">LUNCH</a></td>
</tr>
<tr>
	<td>13:30</td><td>45</td><td>14:15</td><td><a href="https://newcastlerse-training.github.io/hpc-intro-comet/16-transferring-files.html">Transferring files with remote computers</a></td>
</tr>
<tr>
	<td>14:15</td><td>25</td><td>14:40</td><td><a href="https://newcastlerse-training.github.io/hpc-intro-comet/20-rdw.html">Using the Research Data Warehouse</a></td>
</tr>
<tr>
	<td>14:40</td><td>10</td><td>14:50</td><td><a href="{{ site.index }}">BREAK</a></td>
</tr>
<tr>
	<td>14:50</td><td>60</td><td>15:50</td><td><a href="https://newcastlerse-training.github.io/hpc-intro-comet/21-array.html">Parallelising with Job Arrays</a></td>
</tr>
<tr>
	<td>15:50</td><td>10</td><td>16:00</td><td><a href="{{ site.index }}">BREAK</a></td>
</tr>
<tr>
	<td>16:00</td><td>25</td><td>16:25</td><td><a href="https://newcastlerse-training.github.io/hpc-intro-comet/18-resources.html">Using resources effectively</a></td>
</tr>
<tr>
	<td>16:25</td><td>20</td><td>16:45</td><td><a href="https://newcastlerse-training.github.io/hpc-intro-comet/19-responsibility.html">Using shared resources responsibly</a></td>
</tr>
<tr>
	<td>16:45</td><td>15</td><td>17:00</td><td><a href="{{ site.post_survey }}{{ site.github.project_title }} target=_blank rel=noopener noreferrer">Post-workshop Survey</a></td>
</tr>
<tr>
	<td>17:00</td><td></td><td>17:00</td><td><a href="-">FINISH</a></td>
</tr>
</table>
</div>
</div>
